<!-- templates/profile.html -->

{% extends "parts/base-intern.html" %}

{% block content %}

<div class="columns is-full">
  <div class="column is-one-quarter">
    {% include 'navigations/basket_analysis.html' %}
  </div>
  <div class="column">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-success">
      <button class="delete"></button>
      {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    {% if error %}
    <div class="notification is-danger">
      <button class="delete"></button>
      Erro: {{ error }}
    </div>
    {% endif %}
    {% if data_database.db_user %}
    <div class="box">
      <h2 class="subtitle">Status do banco de dados</h2>
      <br>
      {% if database_user_conected %}
      <div class="tags has-addons">
        <span class="tag">{{ data_database.db_name }}</span>
        <span class="tag is-success">Conectado</span>
      </div>
      {% else %}
      <div class="tags has-addons">
        <span class="tag">{{ data_database.db_name }}</span>
        <span class="tag is-danger">Desconectado</span>
      </div>
      {% if error_db_user %}
      <div class="notification is-danger is-light">
        Erro de conexão: {{ error_db_user }}
      </div>
      {% endif %}
      {% endif %}
    </div>
    {% endif %}
    <div class="box">
      <div class="field">
        <h2 class="subtitle">Informações de banco de dados</h2>
        <p>Recomendável cadastrar um usuário com permissão de somente leitura.</p>
      </div>
      {% if data_database.db_user %}
      <form method="POST" action="/database/delete">
        {% else %}
        <form method="POST" action="/database/create">
          {% endif %}
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_user" placeholder="Usuário do banco de dados"
                    value="{{ data_database.db_user }}">
                  <span class="icon is-small is-left">
                    <ion-icon name="person-outline"></ion-icon>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_password" placeholder="Senha do banco de dados"
                    value="{{ data_database.db_password }}">
                  <span class="icon is-small is-left">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_host" placeholder="Servidor do banco de dados"
                    value="{{ data_database.db_host }}">
                  <span class="icon is-small is-left">
                    <ion-icon name="globe-outline"></ion-icon>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_name" placeholder="Nome do banco de dados"
                    value="{{ data_database.db_name }}">
                  <span class="icon is-small is-left">
                    <ion-icon name="server-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <h2 class="subtitle">View para a consulta de itens e transações</h2>
            <a class="js-modal-trigger" data-target="view-example-modal">Clique aqui</a> para ver um exemplo de View e
            como deve ser o formato do retorno da consulta.
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_view" placeholder="Nome da view de consulta"
                    value="{{ data_database.db_view }}">
                  <span class="icon is-small is-left">
                    <ion-icon name="eye-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="field-body">
              {% if data_database.db_user %}
              <div class="notification p-2 is-danger is-light">
                <p class="mb-2"><small>Para deletar as informações, digite <i>deletar</i></small></p>
                <input class="input is-small is-2 mb-2" type="text" maxlength="10" name="db_delete">
                <button class="button is-danger" type="submit">
                  Excluir
                </button>
              </div>
              {% else %}
              <button class="button is-info" type="submit">
                Salvar
              </button>
              {% endif %}
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
</div>

<div class="modal" id="view-example-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">View para a consulta de itens e transações</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-1">Exemplo de view criada para obter os dados necessários para a análise:</p>
      <div class="mb-3">
        <code>CREATE VIEW Transacoes AS SELECT b.SalesOrderID as <b>id_transacao</b>, b.ProductID as <b>id_item</b>, a.OrderDate as <b>data_transacao</b> FROM adventureworks.salesorderheader as a INNER JOIN adventureworks.salesorderdetail as b ON b.SalesOrderID = a.SalesOrderID;</code>
      </div>
      <p class="mb-3">É obrigatório conter as colunas de identificadores de transacões, identificadores de itens das
        transacões e data das transacões
        nomeadas como <b>id_transacao</b>, <b>id_item</b> e <b>data_transacao</b>, respectivamente. A data deve estar no
        formato <i>timestamp</i>.</p>
      <p class="mb-3">Exemplo de retorno de consulta:</p>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>id_transacao</th>
            <th>id_item</th>
            <th>data_transacao</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>43855</td>
            <td>725</td>
            <td>2001-08-01 00:00:00</td>
          </tr>
          <tr>
            <td>43855</td>
            <td>755</td>
            <td>2001-08-01 00:00:00</td>
          </tr>
          <tr>
            <td>43856</td>
            <td>709</td>
            <td>2001-08-01 00:00:00</td>
          </tr>
          <tr>
            <td>43856</td>
            <td>777</td>
            <td>2001-08-01 00:00:00</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <button class="button">Fechar</button>
    </footer>
  </div>
</div>

{% endblock %}