<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Entrar</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="text" name="name" placeholder="Nome" autofocus="">
                    <span class="icon is-small is-left">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                </div>
            </div>

            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" type="password" name="password" placeholder="Senha">
                    <span class="icon is-small is-left">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Lembrar-me
                </label>
            </div>
            <button class="button is-block is-info is-fullwidth">Entrar</button>
        </form>
    </div>
</div>
<p>&copy; 2023 Saturn Software ME</p>
{% endblock %}