<!-- templates/database.html -->

{% extends "parts/base-intern.html" %}

{% block content %}

<div class="columns is-full">
  <div class="column is-one-quarter">
    {% include 'navigations/basket_analysis.html' %}
  </div>
  <div class="column">
    {% include 'parts/alerts.html' %}
    {% if data_database.db_user %}
    <div class="box">
      <h2 class="subtitle">Status do banco de dados</h2>
      {% if database_user_conected %}
      <div class="tags has-addons">
        <span class="tag">{{ data_database.db_name }}</span>
        <span class="tag is-success">Conectado</span>
      </div>
      {% else %}
      <div class="tags has-addons">
        <span class="tag">{{ data_database.db_name }}</span>
        <span class="tag is-danger">Desconectado</span>
      </div>
      {% if error_db_user %}
      <div class="notification is-danger is-light">
        Erro de conexão: {{ error_db_user }}
      </div>
      {% endif %}
      {% endif %}

      {% if transactions_from_database %}
      <h2 class="subtitle">Visualização de dados</h2>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Data mínima</th>
            <th>Data máxima</th>
          </tr>
        </thead>
        <tbody>
          {% for item in date_interval %}
          <tr>
            <td>{{ item.min_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
            <td>{{ item.max_date.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Id de transação</th>
            <th>Id do item</th>
            <th>Nome</th>
            <th>Id do cliente</th>
            <th>Data da transação</th>
          </tr>
        </thead>
        <tbody>
          {% for item in transactions_from_database %}
          <tr>
            <td>{{ item.id_transaction }}</td>
            <td>{{ item.id_item }}</td>
            <td>{{ item.name_item }}</td>
            <td>{{ item.customer_id }}</td>
            <td>{{ item.data_transaction.strftime('%d/%m/%Y %H:%M:%S') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    {% endif %}
    <div class="box">
      <div class="field">
        <h2 class="subtitle">Informações do banco de dados para itens e transacões</h2>
        <p>Recomendável cadastrar um usuário com permissão de somente leitura.</p>
      </div>
      {% if data_database.db_user %}
      <form method="POST" action="/database/update">
        {% else %}
        <form method="POST" action="/database/create">
          {% endif %}
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_user" placeholder="Usuário do banco de dados"
                    value="{{ data_database.db_user }}" required autocomplete="off">
                  <span class="icon is-small is-left">
                    <ion-icon name="person-outline"></ion-icon>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="password" name="db_password" placeholder="Senha do banco de dados"
                    value="{{ data_database.db_password }}" required autocomplete="off">
                  <span class="icon is-small is-left">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_host" placeholder="Servidor do banco de dados"
                    value="{{ data_database.db_host }}" required autocomplete="off">
                  <span class="icon is-small is-left">
                    <ion-icon name="globe-outline"></ion-icon>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_name" placeholder="Nome do banco de dados"
                    value="{{ data_database.db_name }}" required autocomplete="off">
                  <span class="icon is-small is-left">
                    <ion-icon name="server-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_port" placeholder="Porta"
                    value="{{ data_database.db_port }}" style="width: 150px;" required autocomplete="off">
                  <span class="icon is-small is-left">
                    <ion-icon name="tablet-portrait-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <h2 class="subtitle">Sistema gerenciador do banco de dados</h2>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                <div class="select">
                  <select name="db_sgbd">
                    <option value="mysql" {% if data_database.db_sgbd=="mysql" : %}selected{% endif %}>MySQL</option>
                    <option value="postgresql" {% if data_database.db_sgbd=="postgresql" : %}selected{% endif %}>
                      PostgreSQL</option>
                  </select>
                </div>
                </p>
              </div>
            </div>
          </div>
          <div class="field">
            <h2 class="subtitle">View para a consulta de itens e transações</h2>
            <a class="js-modal-trigger" data-target="view-example-modal">Clique aqui</a> para ver um exemplo de View e
            como deve ser o formato do retorno da consulta.
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" name="db_view" placeholder="Nome da view de consulta"
                    value="{{ data_database.db_view }}" required autocomplete="off">
                  <span class="icon is-small is-left">
                    <ion-icon name="eye-outline"></ion-icon>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field mb-3">
            <div class="field-body">
              {% if data_database.db_user %}
              <button class="button is-info" type="submit">
                Atualizar
              </button>
              {% else %}
              <button class="button is-info" type="submit">
                Salvar
              </button>
              {% endif %}
            </div>
          </div>
        </form>
        <form method="POST" action="/database/delete">
          <div class="field-body">
            {% if data_database.db_user %}
            <div class="notification p-2 is-danger is-light">
              <p class="mb-2"><small>Para deletar as informações, digite <i>deletar banco de dados</i></small></p>
              <input class="input is-small is-2 mb-2" type="text" name="db_delete">
              <button class="button is-danger" type="submit">
                Excluir
              </button>
            </div>
            {% endif %}
          </div>
        </form>
    </div>
  </div>
</div>

<div class="modal" id="view-example-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">View para a consulta de itens e transações</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p class="mb-1">Exemplo de view criada para obter os dados necessários para a análise:</p>
      <div class="mb-3">
        <code>CREATE VIEW Transacoes AS SELECT b.SalesOrderID as <b>id_transaction</b>, b.ProductID as <b>id_item</b>, REPLACE(c.Name, ',', '') as <b>name_item</b>, a.CustomerID as <b>customer_id</b>, a.OrderDate as <b>data_transaction</b>
          FROM adventureworks.salesorderheader as a 
          INNER JOIN adventureworks.salesorderdetail as b ON b.SalesOrderID = a.SalesOrderID
          INNER JOIN adventureworks.product as c ON c.ProductID = b.ProductID;</code>
      </div>
      <p class="mb-3">É obrigatório conter todas as colunas conforme nomeadas abaixo. A data deve estar no
        formato <i>timestamp</i>.</p>
      <p class="mb-3">Exemplo de retorno de consulta:</p>
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>id_transaction</th>
            <th>id_item</th>
            <th>name_item</th>
            <th>customer_id</th>
            <th>data_transaction</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>75123</td>
            <td>712</td>
            <td>AWC Logo Cap</td>
            <td>18759</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75085</td>
            <td>712</td>
            <td>AWC Logo Cap</td>
            <td>11927</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75086</td>
            <td>877</td>
            <td>Bike Wash - Dissolver</td>
            <td>28789</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75087</td>
            <td>707</td>
            <td>Sport-100 Helmet Red</td>
            <td>11794</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75088</td>
            <td>713</td>
            <td>Long-Sleeve Logo Jersey S</td>
            <td>14680</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75088</td>
            <td>711</td>
            <td>Sport-100 Helmet Blue</td>
            <td>14680</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75084</td>
            <td>876</td>
            <td>Hitch Rack - 4-Bike</td>
            <td>11078</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75088</td>
            <td>932</td>
            <td>ML Road Tire</td>
            <td>14680</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75088</td>
            <td>922</td>
            <td>Road Tire Tube</td>
            <td>14680</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
          <tr>
            <td>75089</td>
            <td>931</td>
            <td>LL Road Tire</td>
            <td>19585</td>
            <td>2004-07-31 00:00:00</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot">
      <button class="button">Fechar</button>
    </footer>
  </div>
</div>

{% endblock %}