<!-- templates/view-data.html -->

{% extends "parts/base-intern.html" %}

{% block content %}

<div class="columns is-full">
  <div class="column is-one-quarter">
    {% include 'navigations/basket_analysis.html' %}
  </div>
  <div class="column">
    {% include 'parts/alerts.html' %}
    <div class="box">
      <div class="field">
        <h2 class="subtitle">Visualizar dados salvos - {{ total_transactions }} transações</h2>
      </div>
      <div class="field">
        {% if transactions %}
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Id de transação</th>
              <th>Id do item</th>
              <th>Nome</th>
              <th>Id do cliente</th>
              <th>Data da transação</th>
              <th>Data de importação</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td>{{ transaction.id_transaction }}</td>
              <td>{{ transaction.id_item }}</td>
              <td>{{ transaction.name_item }}</td>
              <td>{{ transaction.customer_id }}</td>
              <td>{{ transaction.data_transaction.strftime('%d/%m/%Y %H:%M:%S') }}</td>
              <td>{{ transaction.created_at.strftime('%d/%m/%Y %H:%M:%S') }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          {% if pagination.has_prev %}
          <a href="{{ url_for('main.view_data', page=pagination.prev_num) }}">Anterior</a>
          {% else %}
          <span class="disabled">Anterior</span>
          {% endif %}

          {% for page in pagination_range %}
          {% if page %}
          {% if pagination.page == page %}
          <span class="current-page">{{ page }}</span>
          {% else %}
          <a href="{{ url_for('main.view_data', page=page) }}">{{ page }}</a>
          {% endif %}
          {% else %}
          <span class="ellipsis">...</span>
          {% endif %}
          {% endfor %}

          {% if pagination.has_next %}
          <a href="{{ url_for('main.view_data', page=pagination.next_num) }}">Próximo</a>
          {% else %}
          <span class="disabled">Próximo</span>
          {% endif %}
        </div>
        {% else %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}