<!-- templates/view-data.html -->

{% extends "parts/base-intern.html" %}

{% block content %}

<div class="columns is-full">
  <div class="column is-one-quarter">
    {% include 'navigations/basket_analysis.html' %}
  </div>
  <div class="column">
    {% include 'parts/alerts.html' %}
    <div class="box">
      <div class="field">
        <h2 class="subtitle">Histórico de treinamentos</h2>
      </div>
      <div class="field">
        {% if trainings %}
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Id</th>
              <th>Status</th>
              <th>Data de início</th>
              <th>Data de término</th>
              <th>Mensagem</th>
            </tr>
          </thead>
          <tbody>
            {% for training in trainings %}
            <tr>
              <td>{{ training.id }}</td>
              <td>
                <span
                  class="{% if training.status == 'working' %}has-text-warning{% elif training.status == 'success' %}has-text-success{% elif training.status == 'error' %}has-text-danger{% endif %}">{{
                  training.status }}</span>
              </td>
              <td>{{ training.start.strftime('%d/%m/%Y %H:%M:%S') }}</td>
              <td>{% if training.end %}{{ training.end.strftime('%d/%m/%Y %H:%M:%S') }}{% else %}-{% endif %}</td>
              <td>{% if training.message %}{{ training.message }}{% else %}-{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="pagination">
          {% if pagination.has_prev %}
          <a href="{{ url_for('main.view_data', page=pagination.prev_num) }}">Anterior</a>
          {% else %}
          <span class="disabled">Anterior</span>
          {% endif %}

          {% for page in pagination_range %}
          {% if page %}
          {% if pagination.page == page %}
          <span class="current-page">{{ page }}</span>
          {% else %}
          <a href="{{ url_for('main.view_data', page=page) }}">{{ page }}</a>
          {% endif %}
          {% else %}
          <span class="ellipsis">...</span>
          {% endif %}
          {% endfor %}

          {% if pagination.has_next %}
          <a href="{{ url_for('main.view_data', page=pagination.next_num) }}">Próximo</a>
          {% else %}
          <span class="disabled">Próximo</span>
          {% endif %}
        </div>
        {% else %}
        <p>{{ message }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}