<div class="box">
  <aside class="menu">
    <!-- <p class="menu-label">
      Arquivos
    </p>
    <ul class="menu-list">
      <li><a><ion-icon name="archive-outline"></ion-icon> Arquivos carregados</a></li>
    </ul> -->
    <p class="menu-label">
      Carregar dados
    </p>
    <ul class="menu-list">
      <li><a href="{{ url_for('main.upload') }}"><ion-icon name="document-outline"></ion-icon> CSV/Planilhas</a></li>
      <li><a href="{{ url_for('main.database') }}"><ion-icon name="server-outline"></ion-icon> Banco de dados</a>
      </li>
      <!-- <li><a><ion-icon name="swap-vertical-outline"></ion-icon> API</a></li> -->
    </ul>
    <p class="menu-label">
      Dados
    </p>
    <ul class="menu-list">
      <li><a href="{{ url_for('main.view_transactions') }}"><ion-icon name="file-tray-full-outline"></ion-icon>
          Visualizar dados
          salvos</a>
        <ul class="menu-list">
          <li><a href="{{ url_for('main.view_transactions') }}">Transações</a></li>
          <li><a href="{{ url_for('main.view_items') }}">Itens</a></li>
        </ul>
      </li>
      <li><a href="{{ url_for('main.data_management') }}"><ion-icon name="settings-outline"></ion-icon> Gerenciamento de
          dados</a></li>
    </ul>
    <p class="menu-label">
      Configurações de API
    </p>
    <ul class="menu-list">
      <li><a href="{{ url_for('main.api_users') }}"><ion-icon name="people-outline"></ion-icon> Usuários</a></li>
      <!-- <li><a><ion-icon name="layers-outline"></ion-icon> Integrações</a></li> -->
      <li><a href="{{ url_for('main.api_docs') }}"><ion-icon name="swap-horizontal-outline"></ion-icon> Documentação de
          API</a></li>
    </ul>
    <p class="menu-label">
      Treinamento
    </p>
    <ul class="menu-list">
      <li><a href="{{ url_for('main.training') }}"><ion-icon name="settings-outline"></ion-icon> Configuração de
          frequência</a></li>
      <li><a href="{{ url_for('main.status_training') }}"><ion-icon name="document-text-outline"></ion-icon> Registros
          de treinamentos</a></li>
    </ul>
  </aside>
</div>