{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
{%- for msg in errors %}
<div class="alerts mb-4">
    <div class="notification is-danger">
        <button class="delete"></button>
        Erro: {{ msg }}
    </div>
</div>
{% endfor -%}
{% endif %}
{% endwith %}

{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
{%- for msg in success %}
<div class="alerts mb-4">
    <div class="notification is-success">
        <button class="delete"></button>
        {{ msg }}
    </div>
</div>
{% endfor -%}
{% endif %}
{% endwith %}