<!-- templates/login.html -->

{% extends "parts/base.html" %}

{% block content %}

<div class="container has-text-centered">
    <div class="column is-4 is-offset-4">
        <h3 class="title">Entrar</h3>
        <div class="box">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
            {%- for msg in errors %}
            <div class="notification is-danger">{{ msg }}</div>
            {% endfor -%}
            {% endif %}
            {% endwith %}

            {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
            {%- for msg in success %}
            <div class="notification is-success">{{ msg }}</div>
            {% endfor -%}
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="email" name="email" placeholder="E-mail" autocomplete="off" required>
                        <span class="icon is-small is-left">
                            <ion-icon name="mail-outline"></ion-icon>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" placeholder="Senha" autocomplete="off"
                            required>
                        <span class="icon is-small is-left">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Lembrar-me
                    </label>
                </div>
                <button class="button is-block is-info is-fullwidth">Entrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}